# Statistics and Data Essential Concepts
Pada pembahasan ini, anda akan mempelajari tiga sub bahasan  statistika.
1. Probababilitas
2. Statistika deskriptif (Pemusatan dan penyebaran data)
3. Aplikasi statistika di dunia bisnis

## Import packages
package pendukung :<br>
**pandas** <br>
**numpy** <br>
**os**

In [ ]:
import pandas as pd
import numpy as np
import os

## Probabilitas
Note :
Probabilitas adalah cara untuk mengungkapkan pengetahuan atau kepercayaan bahwa suatu kejadian akan berlaku atau telah terjadi. Probabilitas banyak digunakan untuk mengetahui kemungkinan suatu kejadian akan terjadi dan seberapa besar kemungkinan kejadian tersebut akan terjadi, besar kecilnya ini ditentukan dalam bentuk angka. Nilai dari probabilitas adalah antara 0 dan 1, dimana 1 menunjukkan bahwa kejadian tersebut akan terjadi sedangkan 0 menunjukkan bahwa kejadian tersebut tidak akan terjadi. Dengan kata lain semakin besar nilainya maka semakin besar pula peluang kejadian tersebut terjadi.<br><br>
Rumus dari probabilitas adalah sebagai berikut.<br><br>
$P(A)= \frac{n(A)}{n(S)}$ \\

P(A) = Probabilitas yang terjadi pada event A \\
n(A) = jumlah kejadian yang terjadi pada event A \\
n(S) = jumlah seluruh kejadian atau ruang sampel

Data pelanggan booking kendaraan online

In [ ]:
#LIST PELANGGAN BOOKING
apps_booking = ['GO-CAR','GO-RIDE','GO-CAR','GO-PULSA','GO-RIDE','GO-RIDE',
'GO-CAR','GO-RIDE','GO-CAR','GO-PULSA','GO-RIDE','GO-RIDE',
'GO-CAR','GO-RIDE','GO-CAR','GO-PULSA','GO-RIDE','GO-RIDE',
'GO-CAR','GO-RIDE','GO-CAR','GO-CAR','GO-RIDE','GO-CAR',
'GO-CAR','GO-RIDE','GO-CAR','GO-PULSA','GO-RIDE','GO-FOOD',
'GO-RIDE','GO-FOOD','GO-CAR','GO-RIDE','GO-CAR','GO-PULSA',
'GO-RIDE','GO-FOOD','GO-RIDE','GO-FOOD','GO-CAR','GO-PULSA',
'GO-SEND','GO-SEND','GO-RIDE','GO-FOOD','GO-SEND']

Bagaimana cara anda mengetahui probabilitas pelanggan akan menggunakan produk GO-RIDE, GO-CAR, GO-SEND, GO-FOOD, dan GO-PULSA?
<br>
<br>
Pertama, hitung jumlah masing-masing produk dalam data yang anda miliki. Bisa menggunakan series untuk menghitung kuantitas dari tiap product.

In [ ]:
# Mengubah list kedalam bentuk series

apps_booking_series = pd.Series(apps_booking)

# Menghitung jumlah masing-masing items
#x = apps_booking_series.value_counts()

# Display jumlah masing-masing items
#x
apps_booking_series

0       GO-CAR
1      GO-RIDE
2       GO-CAR
3     GO-PULSA
4      GO-RIDE
5      GO-RIDE
6       GO-CAR
7      GO-RIDE
8       GO-CAR
9     GO-PULSA
10     GO-RIDE
11     GO-RIDE
12      GO-CAR
13     GO-RIDE
14      GO-CAR
15    GO-PULSA
16     GO-RIDE
17     GO-RIDE
18      GO-CAR
19     GO-RIDE
20      GO-CAR
21      GO-CAR
22     GO-RIDE
23      GO-CAR
24      GO-CAR
25     GO-RIDE
26      GO-CAR
27    GO-PULSA
28     GO-RIDE
29     GO-FOOD
30     GO-RIDE
31     GO-FOOD
32      GO-CAR
33     GO-RIDE
34      GO-CAR
35    GO-PULSA
36     GO-RIDE
37     GO-FOOD
38     GO-RIDE
39     GO-FOOD
40      GO-CAR
41    GO-PULSA
42     GO-SEND
43     GO-SEND
44     GO-RIDE
45     GO-FOOD
46     GO-SEND
dtype: object

Sekarang anda sudah mengetahui jumlah dari masing-masing product. Selanjutnya akan dicari probabilitas dari tiap product berdasarkan data jumlah tiap product pada langkah sebelumnya.

In [ ]:
# Mencari probabilitas dengan membagi jumlah kejadian dengan total kejadian
probabilitas = x / x.sum()

# Display probabilitas tiap product
print('Probabilitas masing-masing produk adalah')
print(probabilitas)

Probabilitas masing-masing produk adalah
GO-RIDE     0.382979
GO-CAR      0.319149
GO-PULSA    0.127660
GO-FOOD     0.106383
GO-SEND     0.063830
dtype: float64

### Probabilitas Bersyarat (Teorema Bayes)

Teorema Bayes menyatakan seberapa jauh derajat kepercayaan subjektif harus berubah secara rasional ketika ada petunjuk baru. Dalam penafsiran frekuentis teorema ini menjelaskan representasi invers probabilitas dua kejadian. dengan kata lain probalitas bersyarat digunakan untuk mencari tau peluang terjadinya kejadian A dimana diketahui kejadian lain B telah terjadi.


Rumus probabilitas bersyarat adalah sebagai berikut:
<br>
<br>
<img src ="https://www.gstatic.com/education/formulas2/-1/id/bayes__theorem.svg">

Perhatikan studi kasus dibawah ini<br>
Anda mempunyai dataset seperti berikut: \\

| company|     model|    rating|   type|
|----|----|-----|-----|
|ford |   mustang    | A |     coupe
|chevy |     camaro   |   B    |  coupe
|   ford |       fiesta|      C |     sedan
|   ford  |     focus   |    A   |   sedan
|   ford   |    taurus   |   B    |  sedan
|  toyota   |  camry      | B   |   sedan

Terdapat 4 kolom yang memuat informasi berupa company, model, rating, dan type dari suatu kendaraan bermotor.

In [ ]:
# Menerapkan dictionary untuk membuat dataframe
df = pd.DataFrame({'company': ['ford', 'chevy', 'ford', 'ford', 'ford', 'toyota'],
                     'model': ['mustang', 'camaro', 'fiesta', 'focus', 'taurus', 'camry'],
                     'rating': ['A', 'B', 'C', 'A', 'B', 'B'],
                     'type': ['coupe', 'coupe', 'sedan', 'sedan', 'sedan', 'sedan']})

# Display dataframe
df

NameError: ignored

Goal menghitung probabilitas bersyarat dengan rating A,B,C berikut \\
Prob(type=coupe|rating=A) = ? \\
Prob(type=sedan|rating=A) = ? \\
Prob(type=coupe|rating=B) = ? \\
Prob(type=sedan|rating=B) = ? \\
Prob(type=coupe|rating=C) = ? \\
Prob(type=sedan|rating=C) = ? \\
<br>
Langkah pertama yang dilakukan lakukan adalah mengelompokkan informasi berdasarkan type mobil. Dapat menggubakan method **groupby()** untuk mengelompokkan data berdasarkan kondisi tertentu

In [ ]:
# Mengelompokkan informasi berdasarkan rating
group_rating = df.groupby('rating').size()

# Display hasil
group_rating

rating
A    2
B    3
C    1
dtype: int64

Sekarang sudah mendapatkan jumlah dari tiap-tiap rating. Selanjutnya Hitung probability dari tiap-tiap rating. Pada kesempatan ini, akan digunakan div() function untuk mendapatkan probabilitas.<br>
**div()** dalam python digunakan untuk mendapatkan hasil pembagian dengan type data berupa data float dan dapat memasukkan kondisi tertentu dalam perhitungannya. div() di dalam python dapat membantu untuk menangani missing data dengan menambahkan konsidi tertentu untuk mendapatkan hasil pembagian.

In [ ]:
# Mendapatkan probabilitas untuk setiap rating
rating_probs = group_rating.div(len(df))

# Display hasil
print("Probabilitas untuk setiap rating adalah")
print(rating_probs)

Probabilitas untuk setiap rating adalah
rating
A    0.333333
B    0.500000
C    0.166667
dtype: float64

Sebelumnya, kita ingin mencari probabilitas type mobil berdasarkan rating dari tiap-tiap tipe mobil. Untuk mendapatkan probabilitas tersebut, pertama harus mengelompokkan data berdasarkan rating dan tipe mobil-nya.

In [ ]:
# Mengelompokkan data berdasarkan rating dan tipe mobil
rating_type_group = df.groupby(['rating', 'type']).count()

# Display hasil
rating_type_group

              company  model
rating type
A      coupe        1      1
       sedan        1      1
B      coupe        1      1
       sedan        2      2
C      sedan        1      1

Perbedaan dari size() dan count() didalam python adalah size() digunakan untuk menghitung total data tanpa kecuali termasuk menghitung Nan didalam data, sedangkan count() hanya menghitung item yang tidak Nan.<br>
<br>
Selanjutkan akan dicari probabilitas bersyarat

In [ ]:
# Mendapatkan probabilitas bersyarat dengan menampilkan kolom model saja
prob_type_rating = (rating_type_group / df.groupby('rating').count())['model']

print("probabilitas bersyarat P(type|rating) adalah ")
print(prob_type_rating)

probabilitas bersyarat P(type|rating) adalah
rating  type
A       coupe    0.500000
        sedan    0.500000
B       coupe    0.333333
        sedan    0.666667
C       sedan    1.000000
Name: model, dtype: float64

## Statistika Deskriptif (Pemusatan dan Penyebaran Data)
Statistika deskriptif adalah metode-metode yang berkaitan dengan pengumpulan dan penyajian suatu gugus data sehingga memberikan informasi yang berguna. Statistika deskriptif hanya memberikan informasi mengenai data yang dipunyai dan sama sekali tidak menarik inferensia atau kesimpulan apapun tentang data secara keseluruhan. Penyajian statitika deskriptif biasanya ditampilkan dalam bentuk tabel, diagram, grafik, dan besaran-besaran lainnya.
<br>
Ada tiga ukuran utama tendensi sentral yang dapat dihitung dengan menggunakan metode yang ada di pandas python library.
<Br>
Berikut adalah penerapan dari statistika deskriptif

In [ ]:
# Membuat series dictionary
daftar = {'nama' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'usia' : pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'rating' : pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

# Display Dataframe
df = pd.DataFrame(daftar)
df

        nama  usia  rating
0        Tom    25    4.23
1      James    26    3.24
2      Ricky    25    3.98
3        Vin    23    2.56
4      Steve    30    3.20
5      Smith    29    4.60
6       Jack    23    3.80
7        Lee    34    3.78
8   Chanchal    40    2.98
9     Gasper    30    4.80
10    Naviya    51    4.10
11    Andres    46    3.65

Dibawah ini akan dicontohkan bagaimana cara menghitung mean secara manual pada masing-masih kolom dalam dataframe

In [ ]:
# Mendapatkan rata-rata secara manual
# Mendapatkan mean pada kolom usia
mean_usia= sum(df['usia'])/len(df['usia'])

# Mendapatkan mean pada kolom rating
mean_rating= sum(df['rating'])/len(df['rating'])

# Display hasil
print("Nilai rata-rata usia adalah " + str(mean_usia))
print("Nilai rata-rata rating adalah " + str(mean_rating))

Nilai rata-rata usia adalah  31.833333333333332
Nilai rata-rata rating adalah  3.7433333333333336

In [ ]:
# Melakukan pembulatan pada rata-rata usia
print("Nilai rata-rata usia adalah ", str(round(mean_usia , 0)))

Nilai rata-rata usia adalah  32.0

Dalam python anda dapat menggunakan fuction yang sudah terdapat di python. Berikut merupakan contoh cara mendapatkan mean dan median dengan menggunakan fuction dalam python.

In [ ]:
#Create a DataFrame
print( "Nilai rata-rata dalam distribusi")
print(df.mean())
print("*******************************")
print("Nilai median dalam distribusi")
print(df.median())

Nilai rata-rata dalam distribusi
usia      31.833333
rating     3.743333
dtype: float64
*******************************
Nilai median dalam distribusi
usia      29.50
rating     3.79
dtype: float64

Selain menggunakan fuction secara terpisah, didalam python keunggulan penggunakan pandas adalah anda dapat menggunakan **decsribe()** function untuk mendapatkan summary statistik dari kolom yang bertipe data numerik. Berikut adalah contoh penerapannya

In [ ]:
# Mendapatkan summary statistik
df.describe()

            usia     rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

Menggunakan **mode()** function untuk mendapatkan modus dari suatu data

In [ ]:
# Membuat dictionary
daftar2 = {'nama':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'usia':pd.Series([25,26,25,23,30,25,23,34,40,30,25,46])}

# Membuat dataframe
df = pd.DataFrame(daftar2)

# Mendapatkan modus dari kolom usia
print("Nilai modus pada kolom usia adalah")
print(df['usia'].mode())

Nilai modus pada kolom usia adalah
0    25
dtype: int64

Selain menggunakan mode() function, anda juga dapat menggunakan cara berikut ini untuk mendapatkan modus suatu data

In [ ]:
# Mencari Jumlah data
modus_data = df['usia'].value_counts()

# Mendapatkan nilai dengan tingkat kemunculan terbanyak
print("Nilai modus pada kolom usia adalah " + str(modus_data.index[0]))

Nilai modus pada kolom usia adalah 25

Standar deviasi adalah akar kuadrat dari varians. Sedangkan varians adalah rata-rata perbedaan kuadrat nilai dalam kumpulan data dari nilai rata-rata. Untuk mendapatkan nilai dari standart deviasi, anda dapat menggunakan function **std()**.

In [ ]:
# mendapatkan standar deviasi
df.std()

usia    7.265527
dtype: float64

Berikut akan di contohkan cara mendapatkan standar deviasi dan varians dengan menggunakan packages statistics

In [ ]:
# Import Package
import statistics

# Mendapatkan standar deviasi dan varians
print("Standar Deviasi :", statistics.stdev(df['usia']))
print("Varians :", statistics.variance(df['usia']))

Standar Deviasi : 7.2655267385014
Varians : 52.78787878787879

## Statistik Deskriptif dalam Analisis Data di Bisnis

In [ ]:
# Mengkoneksikan colab dengan gdrive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# Mendefinisiakan directory data
path_data = '/content/gdrive/My Drive/narasio_data/Summer Program/Meet 6/Data/'

In [ ]:
# Mengkonfirmasi penyimpanan data dalam directory
os.listdir(path_data)

['reciepts.csv', 'customer.csv']

In [ ]:
# Import dataset
df_cust = pd.read_csv(path_data + 'customer.csv')
df_rec = pd.read_csv(path_data + 'reciepts.csv')

In [ ]:
# Menampilkan 5 data teratas dari dataset customer
df_cust.head()

   customer_id  home_store customer_first-name  ...   birthdate gender birth_year
0            1           3           Kelly Key  ...  1950-05-29      M       1950
1            2           3     Clark Schroeder  ...  1950-07-30      M       1950
2            3           3      Elvis Cardenas  ...  1950-09-30      M       1950
3            4           3        Rafael Estes  ...  1950-12-01      M       1950
4            5           3          Colin Lynn  ...  1951-02-01      M       1951

[5 rows x 9 columns]

In [ ]:
# Menampilkan 5 data teratas dari dataset receipts
df_rec.head()

   transaction_id transaction_date  ... unit_price  promo_item_yn
0               7       2019-04-01  ...       2.50              N
1              11       2019-04-01  ...       3.50              N
2              19       2019-04-01  ...       2.50              N
3              32       2019-04-01  ...       2.50              N
4              33       2019-04-01  ...       2.45              N

[5 rows x 14 columns]

In [ ]:
# Menampilkan nama kolom dari dataset receipts
df_rec.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'sales_outlet_id', 'staff_id', 'customer_id', 'instore_yn', 'order',
       'line_item_id', 'product_id', 'quantity', 'line_item_amount',
       'unit_price', 'promo_item_yn'],
      dtype='object')

In [ ]:
# Menampilkan nama kolom dari dataset customers dalam bentuk list
list(df_cust)

['customer_id',
 'home_store',
 'customer_first-name',
 'customer_email',
 'customer_since',
 'loyalty_card_number',
 'birthdate',
 'gender',
 'birth_year']

Sama seperti dalam materi sebelumnya, apabila kita memiliki 2 data yang terpisah namun terdapat informasi pendukung dari kedua data yang berbeda tersebut, dengan menggunakan key yang sama kita dapat menggabungkan kedua data tersebut. Didalam python, anda dapat menggunakan **merge()** function untuk join 2 data.

In [ ]:
# Join columns (Merging.. Left Join..) 
df_trx = pd.merge(df_cust, df_rec, left_on = 'customer_id', right_on = 'customer_id', how = 'left')

In [ ]:
# Menampilakan 11 data teratas
df_trx.head(11)

    customer_id  home_store  ... unit_price promo_item_yn
0             1           3  ...       3.00             N
1             1           3  ...       3.00             N
2             1           3  ...       2.00             N
3             1           3  ...       2.00             N
4             1           3  ...       3.50             N
5             1           3  ...       2.50             N
6             1           3  ...       3.10             N
7             1           3  ...       3.00             N
8             2           3  ...       2.50             N
9             2           3  ...       3.50             N
10            2           3  ...       4.25             N

[11 rows x 22 columns]

In [ ]:
# Mendapatkan ukuran data
df_trx.shape

(24853, 22)

**Analisis 1** : Mencari Summary statistics dari data transaksi

In [ ]:
# Summary statistics
df_trx.describe()

        customer_id    home_store  ...  line_item_amount    unit_price
count  24853.000000  24853.000000  ...      24852.000000  24852.000000
mean    4579.738221      5.239649  ...          4.598432      3.313008
std     3248.033149      2.029584  ...          3.551991      2.285187
min        1.000000      3.000000  ...          0.000000      0.800000
25%      584.000000      3.000000  ...          3.000000      2.500000
50%     5417.000000      5.000000  ...          3.750000      3.000000
75%     8099.000000      8.000000  ...          6.000000      3.750000
max     8501.000000      8.000000  ...        360.000000     45.000000

[8 rows x 12 columns]

**Analisis 2** : Berapakah rata-rata price customer yang belanja pada coffee shop tersebut?

In [ ]:
# Mencari rata-rata price customer
avg_cust = df_trx.groupby('customer_id')['unit_price'].mean()
avg_cust

customer_id
1       2.762500
2       3.409524
3       4.825806
4       2.861111
5       2.791667
          ...
8497    4.029167
8498    2.916667
8499    3.225000
8500    3.088095
8501    3.291667
Name: unit_price, Length: 2246, dtype: float64

**Analisis 3** : Berikan summary statistics dari quantity masing-masing product yang dibeli oleh customer

In [ ]:
# Mencari quantity masing-masing product yang dibeli oleh customer
prod_quantity = df_trx.groupby('product_id')['quantity'].sum()
prod_quantity

product_id
1.0      27
2.0      23
3.0      17
4.0      18
5.0      19
       ...
81.0     25
82.0     27
83.0     30
84.0    183
87.0    369
Name: quantity, Length: 80, dtype: int64